<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Family Members | Family Member App</title>
</head>
<body>
    <h1>The place where you'll never forget again your relatives' birthday!</h1>
    <section>
        <h2>Family Composition</h2>
        {% if not family_members %}
            <p>No family member has been registered.</p>
        {% else %}
            <p>Your family is composed by:</p>
            <ul>
                {% for family_member in family_members %}
                    <li>{{ family_member.full_name }}, {{ family_member.age }} years old, born on {{ family_member.birthdate }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
</body>
</html>